{% load thumbnail %}

<!-- component is from https://tailwindcomponents.com/component/post-artical -->
        <div class="max-w-4xl px-10 my-4 py-6 bg-white rounded-lg shadow-md" style='width: 50rem'>
            <div class="flex justify-between items-center">
                <span class="font-light text-gray-600">{{ post.date|date:"F j, Y, g:i:a" }}</span>
            </div>
            <div class="mt-2">
                <p class="mt-2 text-gray-600">{{ post.text }}</p>
            </div>

            {% if detail_on %}
            <div class="flex justify-between items-center mt-4">
                <a class="text-gray-600 hover:underline" href="{% url "feed:detail" post.id %}">
                    <i class='bx bx-fade-right-hover bxs-right-arrow-circle bx-md' style="color: rgba(0, 200, 180)"></i>
                </a>
            {% else %}
            <div class="flex justify-between items-center mt-4">
            <span>&nbsp;</span>
            {% endif %}
                <div>
                    {# TODO: User needs a link to their bio and a photo and a thumbnail and a name #}
                    <a class="flex items-center" href="#">

                        {% thumbnail post.author.profile.profile_pic "100x100" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="mx-4 w-10 h-10 object-cover rounded-full hidden sm:block" alt="avatar">
                        {% endthumbnail %}

                        <h1 class="text-gray-700 font-bold">{{post.author.username}}</h1>
                    </a>
                </div>
            </div>
        </div>
